<h1>Upload keyword</h1>
<p>
  Upload keywords seperate by new line
</p>

<%= form_with url: keywords_upload_path, method: :put, multipart: true do |form| %>
  <%= form.file_field :"uploads[file]", required: true %>
  <%= form.submit 'Upload' %>
<% end %>
