<div>
  <%= link_to "Back", keywords_path %>
  <h1>Upload Keywords</h1>
</div>
<p>
  Instruction: Each keywords must be seperated by new line
</p>

<%= form_with url: keywords_upload_path, method: :put, multipart: true do |form| %>
  <%= form.file_field :"uploads[file]", required: true %>
  <%= form.submit 'Upload' %>
<% end %>
