<h1>Keywords::Upload#show</h1>
<p>Find me in app/views/keywords/upload/show.html.erb</p>
<%= form_with url: keywords_upload_path, method: :put, multipart: true do |form| %>
  <%= form.file_field 'file', required: true %>
  <%= form.submit 'Upload' %>
<% end %>
